@model IEnumerable<Banco.Web.Models.Cuenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeroCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldoInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliente.nombres)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.numeroCuenta }) |
                    @Html.ActionLink("Details", "Details", new { id=item.numeroCuenta }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.numeroCuenta  })
                </td>
            </tr>
        }
    </tbody>
</table>
