@model IEnumerable<Banco.Web.Models.Movimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroCuenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroCuenta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.idMovimiento }) |
                @Html.ActionLink("Details", "Details", new {  id=item.idMovimiento }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.idMovimiento })
            </td>
        </tr>
}
    </tbody>
</table>
